.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    background-color: papayawhip;
    height: 100px;
    width: 200px;
    transform: translate(-50%,-50%);
    justify-content: "center";
    align-items: center;
    flex: 1
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }